.vscode
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
venv
db.sqlite3
__pycache__
media/
.coverage
waiting.txt
stripe_pass.txt
stripe.exe
_documentation
checkout/paypal.py